In [1]:
#import the libraries
import math
import numpy as np
import pandas as pd

In [5]:
a = np.zeros(5)
a.shape

(5,)

In [5]:
technical = pd.DataFrame()

In [7]:
# WTI Crude Oil Future
WTI = pd.read_csv('Data/WTI Futures.csv')
WTI['Date'] = pd.to_datetime(WTI['Date'])
WTI.sort_values(by='Date', inplace=True)
WTI = WTI.reset_index(drop=True)
technical = WTI[['Date','Vol.','MA(5)','MA(10)','MA(12)','MA(20)','MA(26)','EMA(5)','EMA(12)','EMA(26)','ROC(12)','RSI(14)','MACD','%K(14)','%D(3)','ATR(14)','ADX(14)','OBV','Aroon(25)','%R(14)','CCI(14)']]
technical

,Date,Vol.,MA(5),MA(10),MA(12),MA(20),MA(26),EMA(5),EMA(12),EMA(26),...,RSI(14),MACD,%K(14),%D(3),ATR(14),ADX(14),OBV,Aroon(25),%R(14),CCI(14)
0,2010-01-04,263540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,263540,NaN,NaN,NaN
1,2010-01-05,258890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,522430,NaN,NaN,NaN
2,2010-01-06,370060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,892490,NaN,NaN,NaN
3,2010-01-07,246630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,645860,NaN,NaN,NaN
4,2010-01-08,310380,82.374,NaN,NaN,NaN,NaN,82.374000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,956240,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2513,2019-12-24,204540,60.844,60.338,60.136667,59.0575,58.701538,60.737125,59.925383,58.856746,...,74.014337,1.068637,90.450928,85.105477,1.207249,17.398023,36651830,84.0,-9.549072,98.873786
2514,2019-12-26,265090,60.994,60.630,60.358333,59.2360,58.950385,61.051416,60.107632,59.023653,...,76.422764,1.083978,96.368039,89.504845,1.176017,17.941346,36916920,72.0,-3.631961,115.170835
2515,2019-12-27,351900,61.094,60.884,60.565000,59.4165,59.127692,61.274278,60.349534,59.220420,...,73.247232,1.129115,93.523316,93.447428,1.144159,18.975385,37268820,76.0,-6.476684,107.325277
2516,2019-12-30,427150,61.342,61.045,60.808333,59.7420,59.246923,61.409518,60.560375,59.405574,...,75.189394,1.154802,84.397163,91.429506,1.151719,20.040607,36841670,80.0,-15.602837,102.177410
2517,2019-12-31,0,61.450,61.130,60.965000,59.9970,59.373462,61.293012,60.732625,59.574050,...,66.021127,1.158575,69.739953,82.553477,1.158739,21.305147,36841670,80.0,-30.260047,72.359129

In [8]:
#technical.to_csv('technical indicator.csv',index=False)

In [9]:
date = WTI[['Date','Price']]

In [13]:
interpolated = pd.read_csv("Merged_Interpolated.csv")
interpolated['Date']= pd.to_datetime(interpolated['Date'])
interpolated

,Date,Price,TCU,CFNAI,INDPRO,Kilian,World Production,US Field Production,Unemployment,M2,Rigs,Refinery
0,2010-01-04,81.51,70.681745,0.118710,89.302503,65.718098,72.735297,166364.5166,9.800000,8462.870982,1248,79.759250
1,2010-01-05,81.77,70.693894,0.101613,89.311871,65.184370,72.740060,165976.3555,9.800000,8464.461309,1248,80.040683
2,2010-01-06,83.18,70.706042,0.084516,89.321239,64.650642,72.746025,165588.1943,9.800000,8466.051635,1249,80.392491
3,2010-01-07,82.66,70.718190,0.067419,89.330607,64.116915,72.753194,165200.0331,9.800000,8467.641961,1250,80.814674
4,2010-01-08,82.75,70.730339,0.050323,89.339974,63.583187,72.761566,164811.8720,9.800000,8469.232287,1251,81.307232
...,...,...,...,...,...,...,...,...,...,...,...,...
2513,2019-12-24,61.11,76.229777,-0.167097,101.227568,-63.893631,83.256429,397332.8699,3.525806,15380.458030,802,93.736720
2514,2019-12-26,61.68,76.203358,-0.150323,101.193626,-68.268172,83.233446,397081.9024,3.519355,15385.793520,801,94.302969
2515,2019-12-27,61.72,76.190148,-0.141935,101.176655,-70.455443,83.221424,396956.4186,3.516129,15388.461270,801,94.520268
2516,2019-12-30,61.68,76.150519,-0.116774,101.125742,-77.017255,83.183228,396579.9674,3.506452,15396.464510,799,94.668041
2517,2019-12-31,61.06,76.137310,-0.108387,101.108771,-79.204525,83.169787,396454.4837,3.503226,15399.132250,798,94.549258

In [63]:
interpolated.dropna(inplace=True)
df = interpolated.drop(columns = ['Price'])
df

,Date,TCU,CFNAI,INDPRO,Kilian,World Production,US Field Production,Unemployment,M2,Rigs,Refinery
0,2010-01-04,70.681745,0.118710,89.302503,65.718098,72.735297,166364.5166,9.800000,8462.870982,1248,79.759250
1,2010-01-05,70.693894,0.101613,89.311871,65.184370,72.740060,165976.3555,9.800000,8464.461309,1248,80.040683
2,2010-01-06,70.706042,0.084516,89.321239,64.650642,72.746025,165588.1943,9.800000,8466.051635,1249,80.392491
3,2010-01-07,70.718190,0.067419,89.330607,64.116915,72.753194,165200.0331,9.800000,8467.641961,1250,80.814674
4,2010-01-08,70.730339,0.050323,89.339974,63.583187,72.761566,164811.8720,9.800000,8469.232287,1251,81.307232
...,...,...,...,...,...,...,...,...,...,...,...
2513,2019-12-24,76.229777,-0.167097,101.227568,-63.893631,83.256429,397332.8699,3.525806,15380.458030,802,93.736720
2514,2019-12-26,76.203358,-0.150323,101.193626,-68.268172,83.233446,397081.9024,3.519355,15385.793520,801,94.302969
2515,2019-12-27,76.190148,-0.141935,101.176655,-70.455443,83.221424,396956.4186,3.516129,15388.461270,801,94.520268
2516,2019-12-30,76.150519,-0.116774,101.125742,-77.017255,83.183228,396579.9674,3.506452,15396.464510,799,94.668041
2517,2019-12-31,76.137310,-0.108387,101.108771,-79.204525,83.169787,396454.4837,3.503226,15399.132250,798,94.549258

In [64]:
df.to_csv('Merged_Interpolated.csv',index=False)

In [17]:
# 13 week treasury bill.
v1 = pd.read_csv('Data/daily/13-week-treasury bill.csv')
v1['Date'] = pd.to_datetime(v1['Date'])
v1.sort_values(by='Date', inplace=True)
v1 = v1.reset_index(drop=True)
v1.dropna(inplace=True)

In [18]:
# ARCA Oil.
v2 = pd.read_csv('Data/daily/ARCA Oil.csv')
v2['Date'] = pd.to_datetime(v2['Date'])
v2.sort_values(by='Date', inplace=True)
v2 = v2.reset_index(drop=True)
v2.dropna(inplace=True)

In [19]:
# CRB Index
v3 = pd.read_csv('Data/daily/CRB Index.csv')
v3['Date'] = pd.to_datetime(v3['Date'])
v3.sort_values(by='Date', inplace=True)
v3 = v3.reset_index(drop=True)

In [20]:
# EFFR
v4 = pd.read_csv('Data/daily/EFFR.csv')
v4['Date'] = pd.to_datetime(v4['Date'])
v4.sort_values(by='Date', inplace=True)
v4 = v4.reset_index(drop=True)

In [21]:
# gold
v5 = pd.read_csv('Data/daily/Gold Spot.csv')
v5['Date'] = pd.to_datetime(v5['Date'])
v5.sort_values(by='Date', inplace=True)
v5 = v5.reset_index(drop=True)

In [22]:
# Heating Oil
v6 = pd.read_csv('Data/daily/Heating Oil Futures.csv')
v6['Date'] = pd.to_datetime(v6['Date'])
v6.sort_values(by='Date', inplace=True)
v6 = v6.reset_index(drop=True)

In [23]:
# MSCI
v7 = pd.read_csv('Data/daily/MSCI.csv')
v7['Date'] = pd.to_datetime(v7['Date'])
v7.sort_values(by='Date', inplace=True)
v7 = v7.reset_index(drop=True)

In [24]:
# Natural Gas
v8 = pd.read_csv('Data/daily/Natural_Gas_Spot_Price.csv')
v8['Date'] = pd.to_datetime(v8['Date'])
v8.sort_values(by='Date', inplace=True)
v8 = v8.reset_index(drop=True)

In [25]:
# USDX
v9 = pd.read_csv('Data/daily/USDX.csv')
v9['Date'] = pd.to_datetime(v9['Date'])
v9.sort_values(by='Date', inplace=True)
v9 = v9.reset_index(drop=True)

In [65]:
df2 = date.merge(v5,how = 'left', on='Date')
df2 = df2.merge(v6,how = 'left', on='Date')
df2 = df2.merge(v8,how = 'left', on='Date')
df2 = df2.merge(v4,how = 'left', on='Date')
df2 = df2.merge(v1,how = 'left', on='Date')
df2 = df2.merge(v9,how = 'left', on='Date')
df2 = df2.merge(v7,how = 'left', on='Date')
df2 = df2.merge(v3,how = 'left', on='Date')
df2 = df2.merge(v2,how = 'left', on='Date')
df2.dropna(inplace=True)
df2

,Date,Price,Gold,Heating Oil,Natural Gas,EFFR,Treasury Bill,USDX,MSCI,CRBI,XOI
0,2010-01-04,81.51,1120.40,2.1905,6.09,0.12,0.055,77.830,31.980000,288.97,"1,100.51"
1,2010-01-05,81.77,1119.05,2.1941,6.19,0.12,0.060,77.850,32.099998,289.02,"1,106.98"
2,2010-01-06,83.18,1138.90,2.2032,6.47,0.12,0.045,77.655,31.230000,293.40,"1,113.43"
3,2010-01-07,82.66,1132.30,2.1836,7.51,0.10,0.045,78.105,33.380001,290.16,"1,112.53"
4,2010-01-08,82.75,1136.60,2.2003,6.56,0.11,0.040,77.655,34.500000,290.39,"1,116.19"
...,...,...,...,...,...,...,...,...,...,...,...
2513,2019-12-24,61.11,1498.81,2.0363,2.11,1.55,1.538,97.251,260.359985,196.31,"1,268.12"
2514,2019-12-26,61.68,1511.30,2.0521,2.09,1.55,1.535,97.115,260.480011,197.54,"1,270.40"
2515,2019-12-27,61.72,1510.42,2.0496,1.75,1.55,1.518,96.546,259.989990,198.08,"1,263.78"
2516,2019-12-30,61.68,1515.12,2.0406,2.06,1.55,1.490,96.407,256.920013,197.75,"1,259.26"
2517,2019-12-31,61.06,1517.01,2.0283,2.09,1.55,1.505,96.058,258.179993,196.64,"1,270.55"

In [27]:
#df2.to_csv('Merged_Daily.csv',index=False)

In [66]:
variables = df2.merge(df,how = 'left', on='Date')
variables

,Date,Price,Gold,Heating Oil,Natural Gas,EFFR,Treasury Bill,USDX,MSCI,CRBI,...,TCU,CFNAI,INDPRO,Kilian,World Production,US Field Production,Unemployment,M2,Rigs,Refinery
0,2010-01-04,81.51,1120.40,2.1905,6.09,0.12,0.055,77.830,31.980000,288.97,...,70.681745,0.118710,89.302503,65.718098,72.735297,166364.5166,9.800000,8462.870982,1248,79.759250
1,2010-01-05,81.77,1119.05,2.1941,6.19,0.12,0.060,77.850,32.099998,289.02,...,70.693894,0.101613,89.311871,65.184370,72.740060,165976.3555,9.800000,8464.461309,1248,80.040683
2,2010-01-06,83.18,1138.90,2.2032,6.47,0.12,0.045,77.655,31.230000,293.40,...,70.706042,0.084516,89.321239,64.650642,72.746025,165588.1943,9.800000,8466.051635,1249,80.392491
3,2010-01-07,82.66,1132.30,2.1836,7.51,0.10,0.045,78.105,33.380001,290.16,...,70.718190,0.067419,89.330607,64.116915,72.753194,165200.0331,9.800000,8467.641961,1250,80.814674
4,2010-01-08,82.75,1136.60,2.2003,6.56,0.11,0.040,77.655,34.500000,290.39,...,70.730339,0.050323,89.339974,63.583187,72.761566,164811.8720,9.800000,8469.232287,1251,81.307232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,2019-12-24,61.11,1498.81,2.0363,2.11,1.55,1.538,97.251,260.359985,196.31,...,76.229777,-0.167097,101.227568,-63.893631,83.256429,397332.8699,3.525806,15380.458030,802,93.736720
2491,2019-12-26,61.68,1511.30,2.0521,2.09,1.55,1.535,97.115,260.480011,197.54,...,76.203358,-0.150323,101.193626,-68.268172,83.233446,397081.9024,3.519355,15385.793520,801,94.302969
2492,2019-12-27,61.72,1510.42,2.0496,1.75,1.55,1.518,96.546,259.989990,198.08,...,76.190148,-0.141935,101.176655,-70.455443,83.221424,396956.4186,3.516129,15388.461270,801,94.520268
2493,2019-12-30,61.68,1515.12,2.0406,2.06,1.55,1.490,96.407,256.920013,197.75,...,76.150519,-0.116774,101.125742,-77.017255,83.183228,396579.9674,3.506452,15396.464510,799,94.668041
2494,2019-12-31,61.06,1517.01,2.0283,2.09,1.55,1.505,96.058,258.179993,196.64,...,76.137310,-0.108387,101.108771,-79.204525,83.169787,396454.4837,3.503226,15399.132250,798,94.549258

In [67]:
variables.to_csv('Macroeconomic Variables.csv', index = False)

In [68]:
technical = pd.read_csv('Data/technical indicator.csv')

In [75]:
technical['Date'] = pd.to_datetime(technical['Date'])
technical.sort_values(by='Date', inplace=True)
technical = technical.reset_index(drop=True)

In [73]:
feature = variables.merge(technical, how = 'left', on='Date')

In [78]:
feature.dropna(inplace=True)

In [80]:
feature.to_csv("Features.csv", index = False)